section {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 50vw;
  margin: 0 auto;

  h1 {
    margin: 0 auto;
  }

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    input {
      width: 100%;
      padding: 10px;
      border: none;
      outline: none;
      background-color: #555;
      border-radius: 10px;
      color: #fff;
      font-weight: 600;
    }

    input::placeholder {
      color: #fff;
    }
  }
}
