header {
  background: rgba(73, 73, 73, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: sticky;
  z-index: 10;
  padding: 0.7rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    ul {
      display: flex;
      align-items: center;
      gap: 1rem;

      li {
        a {
          font-weight: 600;
          font-size: 16px;
          color: #555;
        }

        a:hover {
          color: aliceblue;
        }
      }
    }
  }

  .button-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.dialog {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 30vw;

  h2 {
    color: #555;
  }

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    input {
      width: 100%;
      padding: 10px;
      border: none;
      outline: none;
      background-color: #555;
      border-radius: 10px;
      color: #fff;
      font-weight: 600;
    }

    input::placeholder {
      color: #fff;
    }
  }
}
